.login {
    background: url("https://media.discordapp.net/attachments/1080482388221640805/1161225582374309959/i-want-a-photo-whit-a-raccon-on-an-word-map-upscaled_1.jpg?ex=65378699&is=65251199&hm=64f04861b72f365f9cdf1ab95a2b0991c35ed7635edb31345327ab77e93f161d&=&width=722&height=412");
    background-repeat: no-repeat;
    background-size: cover;
}

.setWidth {
    width:324px;
}